/* 
meed to set a root color system up
*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
      font-family: 'Segoe UI', sans-serif;
      color: #333;
      padding: 2rem;
      line-height: 1.6;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     background: linear-gradient(
        to top left,
        #fff9c4 10%,
        #ffd54f 40%,
        #ffb74d 70%,
        #ff8f00 100%
     );
    }
h1 {
      color: #be0606;
    }
h2 {
    color: #e05d11ec;
    }
h3{
    color: #e09e11f6;
    }
ul {
      list-style: none;
      padding-left: 1.5rem;
    }
footer {
      text-align: center;
      margin-top: 3rem;
      font-size: 0.9em;
      color: #666;
    }

.note {
      font-style: italic;
      background: #fff3cd;
      border-left: 4px solid #ffc107;
      padding: 1rem;
      margin: 2rem 0;
    }


.paragraphFormatting{
    margin-top:25px;
     color:rgba(46,46,46,1);
    text-shadow:2px 2px 5px rgba(0,0,0,0.3);
}

.logo{
    width: 750px;
    margin:0 auto;
    display:block;

    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 1.5s ease-out forwards;
}
/*****************
    Animations
******************/
@keyframes slideFadeIn {
    from{
        opacity: 0;
        transform: scale(0.8) translateY(30px);
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/********************
    Media Queries
*********************/
@media (max-width: 375px) {
   .logo{
    width: 225px;
    margin: 0 auto;
    display:block;
   } 
}

@media (min-width: 375px) and (max-width: 768px){
   .logo{
    width: 300px;
    margin: 0 auto;
    display:block;
   } 
}

@media (min-width: 768px) and (max-width: 992px){
   .logo{
    width: 500px;
    margin: 0 auto;
    display:block;
   } 
}